:root {
    --primary-font-family: "Anton SC", serif;
    --secondary-font-family: "Smooch Sans", serif;
    --primary-color: #0072BC;
    --secondary-color: #FDF005;
    --background-color: #f9f9f9;
    --text-color: #333;
    --font-size: 
}

body {
    margin: 0;
    font-family: var(--secondary-font-family);
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font-family);
}